

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style_admin.css'/>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <title>Admin Dashboard</title>
  </head>

  <body>
    <div class="container">

      <div class="row">
        <h1>Administrator's Dashboard</h1>
      </div>

      <div class="row">
      </div>
      <hr class="my-4">

      <div class="row">
        <h3>Generate an alert</h3>
      </div>

      <div class="row">
      </br>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-centered">
          <img class="card-img-top" src="/images/fine.gif" alt="Card image cap" height="200">
          <div class="card" style="width: 22.5rem;">
            <div class="card-block">
              <h4 class="card-title">Forest Fire</h4>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col"></div>

        <div class="col-centered">
          <div class="card" style="width: 22.5rem;">
            <img class="card-img-top" src="/images/it_gon_rain.jpg" alt="Card image cap" height="200">
            <div class="card-block">
              <h4 class="card-title">Storm</h4>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
          </div>

          <div class="col"></div>

          <div class="col-centered">
            <div class="card" style="width: 22.5rem;">
              <img class="card-img-top" src="/images/sharknado.jpg" alt="Card image cap" height="200">
              <div class="card-block">
                <h4 class="card-title">Tsunami</h4>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>

    </div>

  </body>

</html>
