

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style_admin.css'/>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
    <script src="/javascripts/main.js"></script>

    <!-- <script>
      $(document).ready(function(){

        $(".btn").toggle(
          function(){$(".card").fadeOut();
                      $(".col-centered").fadeOut()
                      $(".col").fadeOut()
                      $(".form-group").show("slow")
                      $(".form-group").fadeIn("slow")
                    },
          function(){$(".card").fadeIn();
                      $(".col-centered").fadeIn()
                      $(".col").fadeIn()
                      $(".form-group").hide("slow")
                      $(".form-group").fadeOut("slow")
                    });
    });

  </script> -->
  <title>Admin Dashboard</title>
</head>

<body>

  <div class="container">
    <div class="row">
      <h1>Administrator Dashboard</h1>
    </div>

    <div class="row">
    </div>
    <hr class="my-4">

    <div class="row">
      <h3>Generate an alert</h3>
    </div>

    <div class="row">
    </br>
    </div>

    <div class="row justify-content-md-center">

      <div class="col-centered">
        <div class="card" style="width: 22.5rem;">
          <img class="card-img-top" src="/images/forest_fire.jpeg" alt="Card image cap" height="200">
          <div class="card-block">
            <h4 class="card-title">WildFire</h4>
            <div class="form-group" >
              <form class="disaster-form" action="/admin/wildfire" method="get">
                <label for="exampleInputEmail1" color="white">Location</label>
                <input type="text" class="form-control" name="location" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Address, zip code, city, etc." required>
                </br>
                <button type="submit" class="btn btn-primary">Generate</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col"></div>

      <div class="col-centered">
        <div class="card" style="width: 22.5rem;">
          <img class="card-img-top" src="/images/flood-warning.jpg" alt="Card image cap" height="200">
          <div class="card-block">
            <h4 class="card-title">Flash Flood</h4>
            <div class="form-group" >
              <form class="disaster-form" action="/admin/flood" method="get">
                <label for="exampleInputEmail1" color="white">Location</label>
                <input type="text" class="form-control" name="location" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Address, zip code, city, etc." required>
                </br>
                <button type="submit" class="btn btn-primary">Generate</button>
              </form>
            </div>
          </div>
          </div>
        </div>

        <div class="col"></div>

        <div class="col-centered">
          <div class="card" style="width: 22.5rem;">
            <img class="card-img-top" src="/images/missile.jpg" alt="Card image cap" height="200">
            <div class="card-block">
              <h4 class="card-title">Missile Threat</h4>
              <div class="form-group" >
                <form class="disaster_form" action="/admin/missile" method="get">
                  <label for="exampleInputEmail1" color="white">Location</label>
                  <input type="text" class="form-control" name="location" id="exampleInputEmail3" aria-describedby="emailHelp" placeholder="Address, zip code, city, etc." required>
                  </br>
                  <button type="submit" class="btn btn-primary">Generate</button>
                </form>
              </div>
            </div>
          </div>
        </div>

      <!-- <div class="form-group" >
        <label for="exampleInputEmail1" color="white">Location</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="locationHelp" class="form-text text-muted">Address, zip code, city, etc.</small>
        <a href="#" class="btn btn-primary" >submit</a>
      </div> -->

  </div>

</body>

</html>
