<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style_admin.css'/>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
    <!-- <script>
      $(document).ready(function(){
        $("#fireGen").click(function(){
          $("#fireForm").fadeIn();
          $("#fireGen").fadeOut();
        });
        $("#fireCan").click(function(){
          $("#fireForm").fadeOut();
          $("#fireGen").fadeIn();
        });
      });
    </script> -->
    <title>Admin Dashboard</title>
  </head>

<body>

  <div class="container">
    <div class="row">
      <h1>Administrator Dashboard</h1>
    </div>

    <div class="row">
      <h3>Generate an alert in Orange County</h3>
    </div>

    <hr class="my-4" color="white">

    <div class="row">
    </br>
    </div>

    <div class="row justify-content-md-center">

      <div class="col-centered">
        <div class="card" style="width: 22.5rem;">
          <img class="card-img-top" src="/images/fire_icon.png" alt="Card image cap" height="210">
          <div class="card-block">
            <h4 class="card-title">Wildfire</h4>
            <div class="form-group" id="fireForm">
              <form class="disaster_form" action="admin/wildfire" method="post">
                <label for="exampleInputEmail1" color="white">OC Location:</label>
                <input type="text" class="form-control" name="location" id="fireInput" aria-describedby="emailHelp" placeholder="Address, zip code, city, etc." required>
                </br>
                <button type="submit" id="fireSub" class="btn btn-primary">Generate</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col"></div>

      <div class="col-centered">
        <div class="card" style="width: 22.5rem;">
          <img class="card-img-top" src="/images/storm_icon.png" alt="Card image cap" height="210">
          <div class="card-block">
            <h4 class="card-title">Flash Flood</h4>
            <div class="form-group" id="floodForm">
              <form class="disaster_form" action="admin/flood" method="post">
                <label for="exampleInputEmail1" color="white">OC Location:</label>
                <input type="text" class="form-control" name="location" id="floodInput" aria-describedby="emailHelp" placeholder="Address, zip code, city, etc." required>
                </br>
                <button type="submit" class="btn btn-primary">Generate</button>
              </form>
            </div>
          </div>
          </div>
        </div>

        <div class="col"></div>

        <div class="col-centered">
          <div class="card" style="width: 22.5rem;">
            <img class="card-img-top" src="/images/nuclear_icon.png" alt="Card image cap" height="210">
            <div class="card-block">
              <h4 class="card-title">Missile Threat</h4>
              <div class="form-group" id="missileForm">
                <form class="disaster_form" action="admin/missile" method="post">
                  <label for="exampleInputEmail1" color="white">OC Location:</label>
                  <input type="text" class="form-control" name="location" id="missileInput" aria-describedby="emailHelp" placeholder="Address, zip code, city, etc." required>
                  </br>
                  <button type="submit" class="btn btn-primary">Generate</button>
                </form>
              </div>
            </div>
          </div>
        </div>

  </div>

</body>

</html>
