<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <form>
      <input type="text" name="zipcode" placeholder="Enter your zip code">
      <br><br>
      <input type="submit" value="Search">
	  <input type="submit" value="Use current Location">
    </form>


  </body>
</html>
