<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Defcon</h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
=======

<div class="container-fluid">
  <h3 class="text-primary text-center">DEFCON</h3>
  <div class="row">
    <div class="col-xs-6">
		<div class="form-group row">
		<label for="example-text-input" class="col-2 col-form-label"></label>
		<div class="col-10">
			<input class="form-control" value="Input your zip" id="example-text-input">
		 </div>
      <div class="well" id="left-well">
        <button class="btn btn-default target">Search</button>
        <button class="btn btn-default target">Use Current Location</button>
       
      </div>
    </div>
  </div>
</div>
>>>>>>> index-bootstrap
