<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
    <script src="/javascripts/main.js"></script>

    <!-- OneSignal -->
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async='async'></script>
    <script>
      var OneSignal = window.OneSignal || [];
      OneSignal.push(["init", {
        appId: "YOUR_APP_ID",
        autoRegister: false, /* Set to true to automatically prompt visitors */
        notifyButton: {
            enable: true /* Set to false to hide */
        }
      }]);
    </script>
  </head>
  <body>

    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <h1><%= title %></h1>
        <p>Real time emergency </p>
        <form>
          <div class="form-group">
            <input type="zipcode" class="form-control" id="zipcode" aria-describedby="ZipcodeHelp" placeholder="Enter a zip code">
          </div>
          <button type="submit" class="btn btn-danger">Submit</button>
          <hr class="my-4">
          <button type="submit" class="btn btn-danger">Use Current Location</button>
        </form>
    </div>
    <div class="col">
    </div>
  </div>
  </body>
</html>
