<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/user_view.css'/>
    <title>nuclearstrike</title>
    <script src="/javascripts/main.js"></script>

  </head>
  <body>

    <div class="row">
      <div class="col">
      <img src="\images\flood.png" alt="ditto">
      </div>

      <div class="col-6">
        <h1>EMERGENCY ALERT</h1>
        <p><%= alert_desc%></p>
        <hr class="my-4">
      </div>

    <div class="col">
      <h1 class="text-right"style="font-size:60px;">96801</h1>
      <p class="text-right" style="font-size:20px;">HONOLULU, HAWAII</p>

    </div>
  </div>
  <div class="row">

    </div>
  </body>
</html>
