<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/user_view.css'/>
    <title>!!!WILDFIRE IN OC!!!</title>
    <script   src="http://code.jquery.com/jquery-3.3.1.slim.min.js"   integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="   crossorigin="anonymous"></script>
    <script src="/javascripts/main.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>
  <body>

    <div class="row">
      <div class="col-3">
      <img src="\images\fire_symbol.png" alt="WILDFIRE" style="width: 120px; height: 120px;">
      </div>

      <div class="col-6">
        <h1 style="color: white; text-align: center;">EMERGENCY ALERT</h1>
        <hr class="my-4">
      </div>

    <div class="col-3">

    </div>
  </div>

  <div class="theMap">
    <iframe id="locationId"
      width="1000"
      height="600"
      frameborder="5" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAeBv_EqcgfPPxQkZf947KvDUJLr94bvwM&q=<%= location %>" >
    </iframe>

    <iframe id="hospitalId" class="hidden"
    width="1000"
    height="600"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAeBv_EqcgfPPxQkZf947KvDUJLr94bvwM&q=hospital" >
    </iframe>

    <iframe id="shelterId" class="hidden"
    width="1000"
    height="600"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAeBv_EqcgfPPxQkZf947KvDUJLr94bvwM&q=emergency+shelter" >
    </iframe>

    <iframe id="foodId" class="hidden"
    width="1000"
    height="600"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAeBv_EqcgfPPxQkZf947KvDUJLr94bvwM&q=grocery+store" >
    </iframe>
  </div>

  <ul class="list-inline">
     <li class="list-inline-item"><i class="fa fa-home fa-fw btn" id="shelterButton"></i></li>
     <li class="list-inline-item"><i class="fa fa-utensils fa-fw btn" id="foodButton"></i></li>
     <li class="list-inline-item"><i class="fa fa-user-md fa-fw btn" id="hospitalButton"></i></li>
  </ul>

    <div class="container bottomtwo" style="margin-top: 30px;">
      <div class="row">
        <div class="col">
          <img src="\images\wildfire_info.svg" alt="WILDFIRE" style="width: 100%; height: 100%;">
        </div>

        <div class="col">
          <img src="\images\fire_kit.svg" alt="WILDFIRE" style="width: 100%; height: 100%;">

        </div>
        <div class="col" style="margin-top: 14px">
          <h3>SOCIAL MEDIA</h3>

        </div>

      </div>
    </div>
    <div class="row">

    </div>
  </body>
</html>
