body {
  padding: 180px 250px 250px 250px;
  background: linear-gradient(tomato, orange);
  text-align: center;
  font-weight: bold;
  font: 20px "Trebuchet MS", Helvetica, sans-serif;
  background-attachment: fixed;

}

#map {
  height: 100%;
}

.btn-group{
  padding: 10px;
}
.btnshel{
  margin-right: 10px;  }


h1 {
  color: white;
  text-align: center;
  font: 100px "Trebuchet MS", Helvetica, sans-serif;
}

input {
  width: 300px;
  text-align: center;
}

label {
  color: white;
  text-align: center;
  font: 14px "Courier New", Courier, monospace;
}

p {
  color: white;
  text-align: center;
  font: 18px "Courier New", Courier, monospace;
}


a {
  color: #00B7FF;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

/* Optional: Makes the sample page fill the window. */
