body {
  padding: 150px 100px 100px 100px;
  background: linear-gradient(to bottom right, #2ACABA, #684BA6);
  text-align: left;
  font-weight: bold;
  font: 20px "Trebuchet MS", Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: white;
  font: 70px "Trebuchet MS", Helvetica, sans-serif;
}

h3 {
  color: white;
  font: 27px "Courier New", Helvetica, sans-serif;
}

input {
  text-align: left;
  font: 18px "Courier New", Courier, monospace;
}

p {
  color: darkslategrey;
  font: 18px "Trebuchet MS", Courier, monospace;
}

a {
  color: #00B7FF;
}

label {
  color: darkslategrey;
  font: 18px "Trebuchet MS", Courier, monospace;
}
