body {
  padding: 30px 30px 30px 30px;
  background: linear-gradient(tomato, orange);
  text-align: left;
  font-weight: bold;
  font: 20px "Trebuchet MS", Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;


}

.theMap{
  text-align: center;
}

.hidden{
  display: none;
}
.list-inline{
    text-align: center;
}
.list-inline > li{
    text-align: center;
    margin: 10px 110px 10px 110px;
}
.btn{
    font-size: 40px;
    color: white;
}

#map {
  height: 400px;
}

.btn-group{
  padding: 10px;
}
.btnshel{
  margin-right: 10px;  }

}
h1 {
  color: white;
  font: 40px "Trebuchet MS", Helvetica, sans-serif;
}

h3 {
  text-align: center;
  color: white;
  font: 30px "Trebuchet MS", Helvetica, sans-serif;
}


input {
    text-align: center;
}


p {
  color: left;
  color: white;
  font: 18px "Courier New", Courier, monospace;
}


a {
  color: #00B7FF;
}
